@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: 'Roboto', sans-serif;
}

.app {
  min-height: 100vh;
}

.navbar {
  background-color: #921c1f;
  display: flex;

}

.about-section {
  background: #ffffff;
  height: calc(100% - 56px);
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero-page {
  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .6)),
    url("https://w.forfun.com/fetch/e4/e43c51861269e935ced53777773e8e4c.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  /* text-shadow: 0.5px 0.5px #99BADD; */
}

.hero-content {
  text-align: center;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  position: relative;
  /* font-size: 10vw; */
}

.hero-content h1 {
  font-size: 10vw;
  letter-spacing: 2px;
}

.categories {
  display: flex;
  gap: 25px;
}

.category {
  background-color: #ddd;
  width: 100px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.all-menu {
  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .6)),
    url("https://w.forfun.com/fetch/e4/e43c51861269e935ced53777773e8e4c.jpeg");
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.title {
  padding: 15px;
}

.categories {
  padding: 30px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 16px;
  max-height: 545px;
  min-height: 545px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-image {
  max-width: 100%;
  min-height: 250px;
  max-height: 250px;
  margin-bottom: 16px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-desc {
  font-size: 1rem;
  margin-bottom: 16px;
}

.card-btn {
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #e91e63;
  color: white;
}

.card-image {
  height: 30%;
  object-fit: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}

.tm-black-bg {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;

}

/* Contact */
.tm-contact-text-container {
  padding: 45px 50px;
  margin-bottom: 20px;
}

.tm-contact-form-container {
  /* max-width: 600px; */
  padding: 40px 50px;
  box-sizing: border-box;
}

.reservations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservations h1 {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.reservation-form {
  min-width: 500px;
  max-width: 750px;
}

.tm-form-group {
  margin-bottom: 25px;
}

.tm-form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  /* font-family: 'Open Sans', Arial, Helvetica, sans-serif; */
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  border-bottom: 1px solid white;
}

.tm-form-control::-webkit-input-placeholder {
  color: white;
}

/* Edge */
.tm-form-control:-ms-input-placeholder {
  color: white;
}

/* Internet Explorer 10-11 */
.tm-form-control::placeholder {
  color: white;
}

.tm-btn-primary {
  color: #921c1f;
  background-color: white;
  border: 0;
  padding: 12px 40px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tm-btn-primary:hover {
  color: white;
  background-color: #099;
}

.tm-align-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .9)),
    url("https://w.forfun.com/fetch/e4/e43c51861269e935ced53777773e8e4c.jpeg");
  min-height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}